<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WpfCliente.Properties.Settings>
            <setting name="codigoLenguaje" serializeAs="String">
                <value>en-US</value>
            </setting>
        </WpfCliente.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioRegistro">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioChat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioUsuarioSesion">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioSala">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioSalaJugador">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioChatMotor">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioUsuario" 						 
						 maxBufferSize="2000000000" 
						 maxReceivedMessageSize="2000000000">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioAmistad">
                    <reliableSession enabled="true" />
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioAmistad1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioAmistad1" contract="ServidorDescribelo.IServicioAmistad"
                name="NetTcpBinding_IServicioAmistad">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioChat" contract="ServidorDescribelo.IServicioChat"
                name="NetTcpBinding_IServicioChat">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioChatMotor" contract="ServidorDescribelo.IServicioChatMotor"
                name="NetTcpBinding_IServicioChatMotor">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioRegistro" contract="ServidorDescribelo.IServicioRegistro"
                name="NetTcpBinding_IServicioRegistro">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioSala" contract="ServidorDescribelo.IServicioSala"
                name="NetTcpBinding_IServicioSala">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioSalaJugador"
                contract="ServidorDescribelo.IServicioSalaJugador" name="NetTcpBinding_IServicioSalaJugador">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioUsuario" contract="ServidorDescribelo.IServicioUsuario"
                name="NetTcpBinding_IServicioUsuario">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6969/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioUsuarioSesion"
                contract="ServidorDescribelo.IServicioUsuarioSesion" name="NetTcpBinding_IServicioUsuarioSesion">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>