<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<!-- Configuración de los bindings -->
		<bindings>
			<netTcpBinding>
				<!-- Binding para IServiceRegistro -->
				<binding name="NetTcpBinding_IServicioRegistro" sendTimeout="00:05:00" maxReceivedMessageSize="100000">
					<!-- <security mode="None" />  -->
				</binding>

				<!-- Binding para IServiceChat -->
				<binding name="NetTcpBinding_IServicioChat" sendTimeout="00:05:00" maxReceivedMessageSize="100000">
					<!-- <security mode="None" />  -->
				</binding>
			</netTcpBinding>
		</bindings>

		<!-- Definición de servicios -->
		<services>
			<!-- Servicio que implementa ambos contratos -->
			<service name="WcfServicioLibreria.Manegador.ManejadorPrincipal">
				<!-- Endpoint para IServiceRegistro -->
				<endpoint address="net.tcp://localhost:8733/chatServer/ServicioRegistro"
                          binding="netTcpBinding"
                          bindingConfiguration="NetTcpBinding_IServicioRegistro"
                          contract="WcfServicioLibreria.Contratos.IServicioRegistro" />

				<!-- Endpoint para IServiceChat -->
				<endpoint address="net.tcp://localhost:8733/chatServer/ServicioChat"
                          binding="netTcpBinding"
                          bindingConfiguration="NetTcpBinding_IServicioChat"
                          contract="WcfServicioLibreria.Contratos.IServicioChat" />

				<!-- Endpoint para intercambiar metadatos (mex) -->
				<endpoint address="mex"
                          binding="mexTcpBinding"
                          contract="IMetadataExchange" />

				<!-- Direcciones base para el servicio -->
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8733/chatServer/" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<!-- Comportamientos de los servicios -->
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Publicar metadatos para detección de clientes -->
					<serviceMetadata httpGetEnabled="false" />
					<!-- Deshabilitar detalles de errores en producción -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>