<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<!-- Configuración de los bindings -->
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBindingShared" 
						 openTimeout="00:05:30" 
						 closeTimeout="00:05:30" 
						 sendTimeout="00:05:30" 
						 receiveTimeout="00:05:30" 
						 maxBufferSize="2000000000" 
						 maxReceivedMessageSize="2000000000"
						 lockItem="true">
					<!--Cuidado ver esto-->
					<reliableSession enabled="false"  />
					<!--Esto permite que se conecten-->
					<security mode="None">
						<message clientCredentialType="None"/>
						<transport clientCredentialType="None"></transport>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<!-- Definición del servicio y endpoints -->
			<service name="WcfServicioLibreria.Manejador.ManejadorPrincipal" behaviorConfiguration="ServiceBehavior">
				<!-- Endpoint para IServiceAmistad -->
				<endpoint address="" binding="netTcpBinding"
						  bindingConfiguration="NetTcpBindingShared"
						  contract="WcfServicioLibreria.Contratos.IServicioAmistad">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServiceChat -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioChat">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServiceChatMotor -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioChatMotor">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioCorreo -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioCorreo">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioPartida-->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioPartida">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioPartidaSesion -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioPartidaSesion">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServiceRegistro -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioRegistro">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioSala -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioSala" >
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioSalaJugador -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioSalaJugador">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioUsuario -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioUsuario">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Endpoint para IServicioUsuarioSesion -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioUsuarioSesion">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

			<!-- Endpoint de metadatos (mex) sobre TCP -->
			<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			<host>
				<baseAddresses>
					<add baseAddress="net.tcp://localhost:6969" />
				</baseAddresses>
			</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- Publicar metadatos para clientes -->
					<serviceMetadata httpGetEnabled="false" />
					<!-- Deshabilitar detalles de errores en producción -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>