<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <!-- Configuración de los bindings -->
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingShared" sendTimeout="00:05:00" />
      </netTcpBinding>
    </bindings>
    <services>
      <!-- Definición del servicio y endpoints -->
      <service name="WcfServicioLibreria.Manejador.ManejadorPrincipal">
        <!-- Endpoint para IServiceRegistro -->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioRegistro">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Endpoint para IServiceChat -->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingShared" contract="WcfServicioLibreria.Contratos.IServicioChat">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Endpoint de metadatos (mex) -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6969" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Publicar metadatos para clientes -->
          <serviceMetadata httpGetEnabled="false" />
          <!-- Deshabilitar detalles de errores en producción -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>