<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!-- Configuración de los bindings -->
		<bindings>
			<netTcpBinding>
				<!-- Configuración para IServiceRegistro -->
				<binding name="NetTcpBinding_IServiceRegistro"   portSharingEnabled="true">
					<security mode="None" />
					<!--<reliableSession enabled="false" />-->
				</binding>

				<!-- Configuración para IServiceChat -->
				<binding name="NetTcpBinding_IServiceChat" portSharingEnabled="true">
					<security mode="None" />
					<!--<reliableSession enabled="false" />-->
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<!-- Definición del servicio y endpoints -->
			<service behaviorConfiguration="mexBehavior" name="WcfServicioLibreria.Manejador.ManejadorPrincipal">
				<!-- Endpoint para IServiceRegistro -->
				<endpoint address="ServicioRegistro"
												binding="netTcpBinding"
												bindingConfiguration="NetTcpBinding_IServiceRegistro"
												contract="WcfServicioLibreria.Contratos.IServicioRegistro">
				</endpoint>

				<!-- Endpoint para IServiceChat -->
				<endpoint address="ServicioChat"
												binding="netTcpBinding"
												bindingConfiguration="NetTcpBinding_IServiceChat"
												contract="WcfServicioLibreria.Contratos.IServicioChat">
				</endpoint>

				<!-- Endpoint de metadatos (mex) -->
				<endpoint address="mex"  binding="mexTcpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:7070" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<!-- Aquí agregamos la configuración de diagnóstico (logging y tracing) -->
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e:\\logs\\WCFTrace.svclog" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>
