<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IServicioRegistro" sendTimeout="00:05:00">
					<!-- Configura aquí las opciones específicas del enlace TCP -->
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
   <service name="WcfServicioLibreria.Manegador.ManagadorPrincipal">
    <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioRegistro"
     contract="WcfServicioLibreria.Contratos.IServicioRegistro">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/WCF_Chat/Service1/" />
     </baseAddresses>
    </host>
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Ajusta los metadatos para deshabilitar HTTP y habilitar sobre TCP -->
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
					<!-- Para recibir detalles de excepciones en fallos para propósitos de depuración, 
          ajusta el valor a continuación a true. Establece a false antes del despliegue 
          para evitar la divulgación de información de excepciones -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
